<h1> Sponsorzy </h1>
<div>
Nie zarabiamy na JUG, ale żeby opłacić salę, kupić sprzęt (jak kamera), etc zbieramy sponsorów. Reguły są proste i dostępne tutaj **TODO**

Obecnie sponsorują nas
</div>
<div id="sponsorsAccordion" data-children=".item">
  <div class="item">
      <a data-toggle="collapse" data-parent="#sponsorsAccordion" href="#sponsorsAccordionEpam" aria-expanded="false" aria-controls="sponsorsAccordionEpam">
        <img src="img/sponsors/epam.jpeg" class="img-thumbnail d-inline-flex" alt="Epam"/><span class="badge badge-pill badge-info">Rozwiń</span>
      </a>
    <div id="sponsorsAccordionEpam" class="collapse" role="tabpanel">
      <p class="mb-3">
        Fajna firma sponsorująca JUGa
      </p>
      <p>
        <a href="http://www.epam.com/">Epam</a>
      </p>
    </div>
  </div>
  <div class="item">
    <a data-toggle="collapse" data-parent="#sponsorsAccordion" href="#sponsorsAccordionArforce" aria-expanded="false" aria-controls="sponsorsAccordionArforce">
      <img src="img/sponsors/arforce.jpeg" class="img-thumbnail d-inline-flex" alt="ArForce"/><span class="badge badge-pill badge-info">Rozwiń</span>
    </a>
    <div id="sponsorsAccordionArforce" class="collapse" role="tabpanel">
      <p class="mb-3">
        Fajna firma sponsorująca JUGa
      </p>
      <p>
        <a href="http://www.arforce.pl/oferty-pracy/">ArForce</a>
      </p>
    </div>
    <div class="item">
      <a data-toggle="collapse" data-parent="#sponsorsAccordion" href="#sponsorsAccordionNordea" aria-expanded="false" aria-controls="sponsorsAccordionNordea">
        <img src="img/sponsors/nordea.jpeg" class="img-thumbnail d-inline-flex" alt="Nordea"/><span class="badge badge-pill badge-info">Rozwiń</span>
      </a>
      <div id="sponsorsAccordionNordea" class="collapse" role="tabpanel">
        <p class="mb-3">
          Fajna firma sponsorująca JUGa
        </p>
        <p>
          <a href="http://bit.ly/NordeaCapitalMarketsIT">Nordea Capital Markets</a>
        </p>
      </div>
    </div>
    <div class="item">
      <a data-toggle="collapse" data-parent="#sponsorsAccordion" href="#sponsorsAccordionDynatrace" aria-expanded="false" aria-controls="sponsorsAccordionDynatrace">
        <img src="img/sponsors/dynatrace.jpeg" class="img-thumbnail d-inline-flex" alt="Dynatrace"/><span class="badge badge-pill badge-info">Rozwiń</span>
      </a>
      <div id="sponsorsAccordionDynatrace" class="collapse" role="tabpanel">
        <p class="mb-3">
          Fajna firma sponsorująca JUGa
        </p>
        <p>
          <a href="http://gdansk.dynatrace.pl/">Dynatrace</a>
        </p>
      </div>
    </div>
    <div class="item">
      <a data-toggle="collapse" data-parent="#sponsorsAccordion" href="#sponsorsAccordionAmazon" aria-expanded="false" aria-controls="sponsorsAccordionAmazon">
        <img src="img/sponsors/amazon.jpeg" class="img-thumbnail d-inline-flex" alt="Amazon"/><span class="badge badge-pill badge-info">Rozwiń</span>
      </a>
      <div id="sponsorsAccordionAmazon" class="collapse" role="tabpanel">
        <p class="mb-3">
          Fajna firma sponsorująca JUGa
        </p>
        <p>
          <a href="http://www.gdansk-amazon.com/">Amazon Development Center Poland</a>
        </p>
      </div>
    </div>
    <div class="item">
      <a data-toggle="collapse" data-parent="#sponsorsAccordion" href="#sponsorsAccordionJB" aria-expanded="false" aria-controls="sponsorsAccordionJB">
        <img src="img/sponsors/jetbrains.jpeg" class="img-thumbnail d-inline-flex" alt="JetBrains"/><span class="badge badge-pill badge-info">Rozwiń</span>
      </a>
      <div id="sponsorsAccordionJB" class="collapse" role="tabpanel">
        <p class="mb-3">
          Fajna firma sponsorująca JUGa
        </p>
        <p>
          <a href="http://www.jetbrains.com/">JetBrains</a>
        </p>
      </div>
    </div>
  </div>
</div>
