<h1>Obecni</h1>

<div id="leadersAccordion" data-children=".item">
  <div class="item" style="padding: 5px;">
    <h2>
      <a data-toggle="collapse" data-parent="#leadersAccordion" href="#leadersAccordionJM" aria-expanded="false" aria-controls="leadersAccordionJM">
        Jakub Marchwicki <span class="badge badge-pill badge-info" style="font-size: 12px;">O mnie</span>
      </a>
    </h2>
    <div>
      <a href="https://github.com/kubamarchwicki"><svg>{% include svg/github.svg %}</svg></a>
      <a href="https://twitter.com/kubem"><svg>{% include svg/twitter.svg %}</svg></a>
      <a href="https://www.linkedin.com/in/kubamarchwicki"><svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px">{% include svg/linkedin.svg %}"</svg></a>
    </div>
    <div id="leadersAccordionJM" class="collapse" role="tabpanel">
      <div>
        <img src="/img/leaders/jm.jpg" class="img-thumbnail" alt="Jakub Marchwicki"/>
      </div>
      <div>
        Jakub has been around software development for past 10 years, wearing multiple hats, getting hands dirty in multiple environments, securing both technical as well as the business side of The Thing. “An engineer with a human friendly interface?”. Some languages, some frameworks, blah blah blah - doesn’t matter. Architect, programmer, manager, technical trainer, tech lead, wannabe entrepreneur, JUG member. There is a fair chance he does non of those those right. Jakub always considered programming as a tool to solve real-life problems - in a pragmatic way. He always stayed closed to business side of the solution, still focusing on the technology. He combines daily job of leading the architecture practice at Young Digital Planet with lectures, technical trainings and comittment to Gdansk Java User Group.
      </div>
    </div>
  </div>

  <div class="item" style="padding: 5px;">
    <h2>
      <a data-toggle="collapse" data-parent="#leadersAccordion" href="#leadersAccordionBN" aria-expanded="false" aria-controls="leadersAccordionBN">
        Bartek Nowakowski <span class="badge badge-pill badge-info" style="font-size: 12px;">O mnie</span>
      </a>
    </h2>
    <div>
      <a href="https://github.com/bnowakow"><svg>{% include svg/github.svg %}</svg></a>
      <a href="https://twitter.com/supach"><svg>{% include svg/twitter.svg %}</svg></a>
      <a href="https://www.linkedin.com/in/barteknowakowski"><svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px">{% include svg/linkedin.svg %}"</svg></a>
    </div>
    <div id="leadersAccordionBN" class="collapse" role="tabpanel">
      <div>
        <img src="/img/leaders/bn.jpg" class="img-thumbnail" alt="Bartosz Nowakowski"/>
      </div>
      <div>
        Computer Science and MBA graduate, responsible for managing IT teams for the last 5 years. Has experience working for different-size companies ranging from small start-ups to corporation that deal with different IT businesses (firmware, device drivers, mobile, eCommerce, social media, big data, financial markets). Currently a senior dev-ops working for Nordea Capital Markets IT providing enterprise applications enabling trading on financial markets. Involved in Polish edition of Washington Business Week. Interested in behavioural economics and psychology.
      </div>
    </div>
  </div>

  <div class="item" style="padding: 5px;">
    <h2>
      <a data-toggle="collapse" data-parent="#leadersAccordion" href="#leadersAccordionJJ" aria-expanded="false" aria-controls="leadersAccordionJJ">
        Jacek Jackowiak <span class="badge badge-pill badge-info" style="font-size: 12px;">O mnie</span>
      </a>
    </h2>
    <div>
      <a href="https://github.com/airborn"><svg>{% include svg/github.svg %}</svg></a>
      <a href="https://twitter.com/airbornpl"><svg>{% include svg/twitter.svg %}</svg></a>
      <a href="https://www.linkedin.com/in/jacek-jackowiak-651b2791/"><svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px">{% include svg/linkedin.svg %}"</svg></a>
    </div>
    <div id="leadersAccordionJJ" class="collapse" role="tabpanel">
      <div>
        <img src="/img/leaders/jj.jpg" class="img-thumbnail" alt="Jacek Jackowiak"/>
      </div>
      <div>
        na co dzień programista wszystkiego co związane z JVM w YDP.
      </div>
    </div>
  </div>

  <div class="item" style="padding: 5px;">
    <h2>
      <a data-toggle="collapse" data-parent="#leadersAccordion" href="#leadersAccordionZP" aria-expanded="false" aria-controls="leadersAccordionZP">
        Zbyszko Papierski <span class="badge badge-pill badge-info" style="font-size: 12px;">O mnie</span>
      </a>
    </h2>
    <div>
      <a href="https://github.com/maeph"><svg>{% include svg/github.svg %}</svg></a>
      <a href="https://twitter.com/zpapierski"><svg>{% include svg/twitter.svg %}</svg></a>
      <a href="https://www.linkedin.com/in/zbyszko"><svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px">{% include svg/linkedin.svg %}"</svg></a>
    </div>
    <div id="leadersAccordionZP" class="collapse" role="tabpanel">
      <div>
        <img src="/img/leaders/zp.jpg" class="img-thumbnail" alt="Zbyszko Papierski"/>
      </div>
      <div>
        Software Engineer addicted to a broader perspective of a software development, functional coding wannabe and data analysis enthusiast. Last 5,(6) years in Allegro, switched to Spartez to tackle Atlassian products and breathe in some seaside air.
      </div>
    </div>
  </div>

  <div class="item" style="padding: 5px;">
    <h2>
      <a data-toggle="collapse" data-parent="#leadersAccordion" href="#leadersAccordionMG" aria-expanded="false" aria-controls="leadersAccordionMG">
        Michał Gruca <span class="badge badge-pill badge-info" style="font-size: 12px;">O mnie</span>
      </a>
    </h2>
    <div>
      <a href="https://github.com/mgruca"><svg>{% include svg/github.svg %}</svg></a>
      <a href="https://twitter.com/michalgruca"><svg>{% include svg/twitter.svg %}</svg></a>
      <a href="https://www.linkedin.com/in/michalgruca"><svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px">{% include svg/linkedin.svg %}"</svg></a>
    </div>
    <div id="leadersAccordionMG" class="collapse" role="tabpanel">
      <div>
        <img src="/img/leaders/mg.jpg" class="img-thumbnail" alt="Michal Gruca"/>
      </div>
      <div>
        Java Developer, Solution Architect, Team Leader, currently in Delivery Manager role, with little appreciation to any of job titles. Focused more on solving problems, regardless if soft or tech in nature. In free time building communities, speaking at events, coding and trying to come back to blogging.
        After working around a decade in software industry, I’ve seen a bit, and try to share what I’ve learned about programming and management. Always with opinion, but open to discussion, stay strong and argue :)
        Despite using Outlook and Excel on daily basis, I’m still developer at heart with couple of IDE’s installed on my machine.
      </div>
    </div>
  </div>
</div>

<h1> Byli z nami </h1>

<h2> Łukasz Rybka </h2>
My name is Łukasz Rybka and currently I'm a Team Leader/Front-end Developer at Solwit S. A.. I'm a graduate of Gdańsk Univeristy of Technology (Faculty of Applied Physics and Mathematics).
On day to day basis I'm programming, managing, giving lectures at Tricity universities, doing commercial trainings for front-end and Java developers and working with non-profit IT initiatives.
I'm an advocate of agility, pragmatism, continuous personal development and knowledge sharing.

<h2> Jakub Neumann</h2>
Zastępca Dyrektora Instytutu ds. Organizacyjnych at University of Gdansk
