<div class="border border-dark mb-3 pl-5 pt-3">

    <span class="border-0">
      <img src="img/sponsors/epam.jpeg" class="img-thumbnail" alt="Epam"/>
    </span>

    <span class="border-0">
      <img src="img/sponsors/arforce.jpeg" class="img-thumbnail" alt="ArForce"/>
    </span>

    <span class="border-0">
      <img src="img/sponsors/nordea.jpeg" class="img-thumbnail" alt="Nordea Markets"/>
    </span>

    <span class="border-0">
      <img src="img/sponsors/dynatrace.jpeg" class="img-thumbnail" alt="Dynatrace"/>
    </span>

    <span class="border-0">
      <img src="img/sponsors/amazon.jpeg" class="img-thumbnail" alt="Amazon"/>
    </span>

    <span class="border-0">
      <img src="img/sponsors/jetbrains.jpeg" class="img-thumbnail" alt="JetBrains"/>
    </span>

    <span class="border-0">
      <img src="img/sponsors/starter.jpeg" class="img-thumbnail" alt="Starter"/>
    </span>

</div>
