<h1>FAQ dla prelegenta</h1>

<div class="container">
  <div class="panel-group" id="faqAccordion">

    <div class="panel panel-default">
      <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
        <h4 class="panel-title">
          <a href="#" class="ing">Q: Jak zostać prelegentem?</a>
        </h4>
      </div>
      <div id="question0" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
          <h5><span class="label label-primary">Odp:</span></h5>
          <p>
            Jest kilka sposobów
            <ul> Zgłoś się do kogoś z <a href="/about.html">kapituły</a> po spotkaniu i daj znać że chciałbyś coś powiedzieć</ul>
            <ul> Napisz do nas dowolnym z kanałów wymienionych po lewej w sidebar</ul>
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
        <h4 class="panel-title">
          <a href="#" class="ing">Q: Jaki sprzęt jest na sali</a>
        </h4>
      </div>
      <div id="question1" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
          <h5><span class="label label-primary">Odp:</span></h5>
          <p>
            Zależy gdzie jest spotkanie organizowane oraz kto je będzie prowadzić. Napisz do nas przed spotkaniem. Na pewno jest rzutnik. Zazwyczaj mamy mikrofon krawatowy podłączony do kamery. Zazwyczaj mamy prezenter/klikera. Jeżeli potrzebujesz internetu, daj znać nam wcześniej, musimy to ustalić.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
        <h4 class="panel-title">
          <a href="#" class="ing">Q: Czy spotkania są nagrywane</a>
        </h4>
      </div>
      <div id="question2" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
          <h5><span class="label label-primary">Odp:</span></h5>
          <p>
            Tak. Występując na JUGu zgadzasz się na bycie nagrywanym
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
        <h4 class="panel-title">
          <a href="#" class="ing">Q: Gdzie mogę sprawdzić poprzednie wystąpienia</a>
        </h4>
      </div>
      <div id="question3" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
          <h5><span class="label label-primary">Odp:</span></h5>
          <p>
            Przejrzyj nasz profil na meetupie. Same wystąpienia są na <a title="Meeting recordings" aria-label="Youtube" href="{{ site.youtube.profile }}">YouTube</a>
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default ">
      <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
        <h4 class="panel-title">
          <a href="#" class="ing">Q: Czy płacicie prelegentom</a>
        </h4>
      </div>
      <div id="question4" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
          <h5><span class="label label-primary">Odp:</span></h5>
          <p>
            Nie, dzielenie się wiedzą jest nagrodą samą w sobie. Dla prelegentów z poza Trójmiasta możemy pomóc do nas dotrzeć organizując transport albo zakwaterowanie.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default ">
      <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
        <h4 class="panel-title">
          <a href="#" class="ing">Q: Czy możecie pomóc mi zostać prelegentem</a>
        </h4>
      </div>
      <div id="question5" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
          <h5><span class="label label-primary">Odp:</span></h5>
          <p>
            Tak, chętnie poćwiczymy razem. Możemy doradzić, zrobić próbną prezentację i postarać się z Tobą doszlifować slajdy.
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
        <h4 class="panel-title">
          <a href="#" class="ing">Q: Kiedy mam przyjść przed spotkaniem</a>
        </h4>
      </div>
      <div id="question6" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
          <h5><span class="label label-primary">Odp:</span></h5>
          <p>
            15 min przed spotkaniem uznajmy za minimum. Chcemy mieć czas na sprawdzenie czy wszystko działa a jeżeli nie to wymyślenie jeszcze czegoś.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--/panel-group-->
</div>
